Practical 2 : Data Wrangling-II: Create a synthetic "Academic Performance" dataset for students, and then perform various data wrangling operations in Python. The tasks will involve:
1. Scanning the dataset for missing values and inconsistencies, and handling them.
2. Identifying and dealing with outliers in numeric variables.
3. Applying data transformations on at least one variable for better understanding or to improve distribution.

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {
    'studentid' : range(1, 101),
    'age' : np.random.randint(18, 25, 100),
    'gender' : np.random.choice(['male','female'], 100),
    'subject1' : np.random.randint(50, 100, 100),
    'subject2' : np.random.randint(60, 90, 100),
    'subject3' : np.random.randint(55, 95, 100),
    'attendance' : np.random.uniform(70, 100, 100),
    'grade' : np.random.choice(['a','b','c'], 100)
}

In [3]:
df = pd.DataFrame(data)

In [4]:
df

    studentid  age  gender  subject1  subject2  subject3  attendance grade
0           1   18    male        54        63        85   82.035649     c
1           2   20  female        94        69        77   75.706201     c
2           3   18  female        91        82        77   81.819433     b
3           4   18  female        99        84        85   77.866472     a
4           5   18  female        54        63        72   73.398434     a
..        ...  ...     ...       ...       ...       ...         ...   ...
95         96   24  female        97        84        80   78.759920     b
96         97   22  female        91        60        92   78.302851     b
97         98   23  female        86        79        92   88.178161     b
98         99   24  female        97        79        94   92.646083     c
99        100   23  female        72        85        60   80.812967     c

[100 rows x 8 columns]

In [5]:
df.loc[(5, 15, 69), 'subject1'] = np.nan
df.loc[(20, 34, 67), 'subject2'] = np.nan
df.loc[(35, 56, 98), 'subject3'] = np.nan

In [6]:
df.isnull().sum()

studentid     0
age           0
gender        0
subject1      3
subject2      3
subject3      3
attendance    0
grade         0
dtype: int64

In [9]:
df['subject1'] = df['subject1'].fillna(df['subject1'].mean())
df['subject2'] = df['subject2'].fillna(df['subject2'].median())
df['subject3'] = df['subject3'].fillna(df['subject3'].mode(), inplace = True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_6468\4094255073.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['subject3'] = df['subject3'].fillna(df['subject3'].mode(), inplace = True)

In [10]:
df.isnull().sum()

studentid       0
age             0
gender          0
subject1        0
subject2        0
subject3      100
attendance      0
grade           0
dtype: int64

In [16]:
df = df.drop('subject3', axis = 1)

In [17]:
df['attendance'] = df['attendance'].clip(0,100)

In [18]:
df['grade'] = df['grade'].apply(lambda x:x if x in ['a','b','c'] else 'c')

In [19]:
df.isnull().sum()

studentid     0
age           0
gender        0
subject1      0
subject2      0
attendance    0
grade         0
dtype: int64

In [20]:
def detect_outliers(df, column):
    q1 = df[column].quantile(0.25)
    q3 = df[column].quantile(0.75)
    iqr = q3 - q1
    lowerbound = q1 - 1.5 * iqr
    upperbound = q1 + 1.5 * iqr
    return df[(df[column] < lowerbound) | (df[column] > upperbound)]

In [21]:
print(detect_outliers(df, 'subject1'))

Empty DataFrame
Columns: [studentid, age, gender, subject1, subject2, attendance, grade]
Index: []

In [22]:
print(detect_outliers(df, 'subject2'))

Empty DataFrame
Columns: [studentid, age, gender, subject1, subject2, attendance, grade]
Index: []

In [24]:
#clipping them to iqr bounds
df['subject1'] = np.clip(df['subject1'], df['subject1'].quantile(0.25) - 1.5 * (df['subject1'].quantile(0.75) - df['subject1'].quantile(0.25)),
df['subject1'].quantile(0.75) + 1.5 * (df['subject1'].quantile(0.75) - df['subject1'].quantile(0.25)))

1] Skewness â‰ˆ 0 â†’ Symmetric Distribution

2] Skewness > 0 â†’ Right-Skewed (Positively Skewed)

3] Skewness < 0 â†’ Left-Skewed (Negatively Skewed)

If |skewness| > 1, the data is highly skewed

In [25]:
print(df['subject1'].skew())

-0.22343664998264953

In [26]:
df['subject1'] = np.log(df['subject1'] + 1)

In [27]:
print(df['subject1'].skew())

-0.4589621985351629